/Prog03_Ejerc2/target/
/DI_Ejerc1/build/
/DI_Ejerc1/nbproject/private/
/DI/DI_Ejerc1/build/
/DI/DI_Ejerc1/nbproject/private/
/AD/AD02/target/
/PSP/PSP01/target/
/PSP/PSP00/target/
/DI/PSP01/target/
/DI/DI02/target/
/DI/DI_Ejerc3/nbproject/private/
/DI/DI_Ejerc3/build/
